if SHIELD_CYBOARD_LEFT

config ZMK_KEYBOARD_NAME
    default "Cyboard"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CYBOARD_LEFT || SHIELD_CYBOARD_RIGHT

config ZMK_SPLIT
    default y

endif

config ZMK_RGB_UNDERGLOW
    default y
    imply WS2812_STRIP

config ZMK_MAX17048
	default y