if SHIELD_CYBOARD_DACTYL_SINGLE_ARC_NUMBER_ROW_LEFT

config ZMK_KEYBOARD_NAME
    default "Cyboard Dactyl"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CYBOARD_DACTYL_SINGLE_ARC_NUMBER_ROW_LEFT || SHIELD_CYBOARD_DACTYL_SINGLE_ARC_NUMBER_ROW_RIGHT

config ZMK_SPLIT
    default y

endif
