# SPDX-License-Identifier: MIT

if BOARD_SPELLER

config BOARD
    default "speller"

if USB_DEVICE_STACK

config USB_NRFX
    default y

endif # USB_DEVICE_STACK

config BT_CTLR
    default BT

config ZMK_KEYBOARD_NAME
    default "Speller"

config ZMK_RGB_UNDERGLOW
    default y
    imply WS2812_STRIP
    imply CONFIG_ZMK_RGB_UNDERGLOW_BRT_MAX=50

endif # BOARD_SPELLER
