#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
 &kp A      &kp B     &kp C     &kp D     &kp E     &studio_unlock
 &kp F      &kp G     &kp H     &kp I     &kp J     &tog(2)
 &kp K      &kp L     &kp M     &kp N     &kp O     &tog(1)
 &kp P      &kp Q     &kp R     &kp S     &kp T     &kp CAPS
 &kp U      &kp V     &kp W     &kp X     &kp Y     &kp Z
 &kp BSPC   &kp EXCL  &kp SPACE &kp DOT   &kp QMARK &kp RET
            >;
        };

        Layer__1 {
            bindings = <
 &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        Layer__2 {
            bindings = <
 &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
