if SHIELD_IMPRINT_LEFT

config ZMK_KEYBOARD_NAME
    default "Imprint"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_IMPRINT_LEFT || SHIELD_IMPRINT_RIGHT

config ZMK_SPLIT
    default y

config ZMK_POINTING
    default y

config ZMK_POINTING_SMOOTH_SCROLLING
    default y

config SPI
    default y

config PMW3610
    default y

endif

config ZMK_RGB_UNDERGLOW
    default y
    imply WS2812_STRIP